<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/_header')%>
    <title>Watch <%= epData.title %> S<%= epData.seasonNum %>E<%= epData.episodeNum %> for free</title>
    <meta name='description' content='Stream <%= epData.title %> S<%= epData.seasonNum %>E<%= epData.episodeNum %> for free in HD.'>
    <meta name='keywords' content='<%= epData.title %> S<%= epData.seasonNum %>E<%= epData.episodeNum %> free streaming, watch <%= epData.title %> S<%= epData.seasonNum %>E<%= epData.episodeNum %> online free, <%= epData.title %> S<%= epData.seasonNum %>E<%= epData.episodeNum %> streaming full episodes, 123Movies, putlockers, watch <%= epData.title %> S<%= epData.seasonNum %>E<%= epData.episodeNum %> online free, <%= epData.title %> S<%= epData.seasonNum %>E<%= epData.episodeNum %> full episodes free'>
  <style>
      .banner {
        background: url('<%= epData.bannerBackdrop %>') rgba(0, 0, 0, 0.8)
          no-repeat center;
        background-size: cover;
        background-blend-mode: multiply;
      }
      /* width */
      ::-webkit-scrollbar {
        height: 8px;
        width: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 5px;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgb(170, 170, 170);
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <%- include('include/_menu')%> 

    <div id="mainContainer" class="container-fluid">
      <!-- Container fluid start here -->
      <div class="col-auto" id="mainContent">
        <!-- FIX SPINNER AND INCLUDE -->

        <!-- player -->
        <%- include('include/_video', { data: epData, servers: servers }) %>
        <!-- /player -->

        <!-- SERVERS OPTIONS -->
        <!-- /SERVERS OPTIONS -->

        <!-- Movie card -->
        <%- include('include/_bannerEpisode', { data: epData }) %>
        <!-- /Movie card -->
      </div>

      <!-- Container fluid ENDS here -->
    </div>

    <div class="container">
      <!-- Regular container starts here -->

      <div class="ad">
        <!-- Ad starts here -->
        <!-- Ad ENDS here -->
      </div>

      <div class="row">
        <div class="col-12 col-lg-3">
          <!-- Movie budget Original Language, revenu -->
          <%- include('include/_infoCard-series')%>
        </div>
        <div class="col-12 col-lg-9 castHolder">
          <%- include('include/_cast', { castList: epData.cast } )%>
        </div>
      </div>

      <div class="similar">
        <%- include('include/_posterBlockAlt', { posters: epData.similar } )%>
      </div>

      <!-- footer starts here -->
      <%- include('include/_footer')%>
      <!-- footer ENDS here -->

      <!-- Regular container ENDS here -->
    </div>
 
    <%- include('include/_spinner')%>

    <script type="module" src="/static/watchedHandlerEpisodes.js"></script>
    <!-- Include scripts -->
    <%- include('include/_scripts')%>
    <!-- /Include scripts -->
  </body>
</html>
