<% if (poster.type === 'movie') { %>
  <div class="col-xs-6 col-sm-5 col-lg-3 col-xl-2 poster-block poster">
  <img
        src="<%= poster.posterImg %>"
        class="img-fluid"
        alt="<%= poster.title %>"
      /> 
       
  <postercaption>
    <h4 class='text-center'><a href="/<%= poster.type %>/<%= poster.id %>/<%= poster.slug %>"><%= poster.title %></a></h4>
    <br/>
    <p class='text-center'><a href="/<%= poster.type %>/<%= poster.id %>/<%= poster.slug %>">(<%= poster.releaseYear %>) - <%= poster.type %></a></p>
    <br/>
    <p class='text-center'><a href="/<%= poster.type %>/<%= poster.id %>/<%= poster.slug %>"><span
      class="material-icons watch-movie-icon"
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="Watch Now">
      play_circle_filled</span></a>
    <span
      class="material-icons trailer-icon trailer-<%= poster.type %>"
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      tmdb="<%= poster.id %>"
      data-toggle="modal"
      data-target="#modal<%= poster.id %>"
      title="Watch Trailer">theaters</span>
    <span 
      id="watchlistButton<%= poster.id %>"
      watchlist="<%= poster.WLinfo %>"
      tmdb="<%= poster.id %>"
      class="material-icons fav-icon addWatchlist"  
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="Add to Bookmarks">
      favorite_border</span></p>
    </postercaption>
  </div>
<% } else if (poster.type === 'series') { %>

  <div class="col-xs-6 col-sm-5 col-lg-3 col-xl-2 poster-block poster">
  <img
        src="<%= poster.posterImg %>"
        class="img-fluid"
        alt="<%= poster.title %>"
      />
  <postercaption>
    <h4 class='text-center'><a href="/<%= poster.type %>/<%= poster.id %>/<%= poster.slug %>"><%= poster.title %></a></h4>
    <br/>
    		<p class='text-center'><a href="/<%= poster.type %>/<%= poster.id %>/<%= poster.slug %>">(<%= poster.releaseYear %>) - <%= poster.type %></a></p>
    <br/>
    <p class='text-center' ><a href="/<%= poster.type %>/<%= poster.id %>/<%= poster.slug %>"><span
      class="material-icons watch-series-icon"
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="Watch Now">
      play_circle_filled</span></a>
    <span 
      tmdb="<%= poster.id %>"
      class="material-icons random"  
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="Random Episode">
      shuffle</span>    
      <span
      class="material-icons trailer-icon trailer-<%= poster.type %>"
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      tmdb="<%= poster.id %>"
      data-toggle="modal"
      data-target="#modal<%= poster.id %>"
      title="Watch Trailer">theaters</span>
        <span 
      id="watchlistButton2<%= poster.id %>"
      watchlist="<%= poster.WLinfo %>"
      tmdb="<%= poster.id %>"
      class="material-icons fav-icon addWatchlist"  
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="Add to Bookmarks">
      favorite_border</span></p>
    </postercaption>
</div>

<% } %>







<!-- MODAL -->
<div
  class="modal fade"
  id="modal<%= poster.id %>"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div id='body-<%= poster.id %>' class="modal-body mb-0 p-0">

      </div>
    </div>
  </div>
</div>
<!-- /MODAL -->